[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eofs = "*"
emd = "*"
pyeemd = {file = "file:///Users/andreiciubotariu/Downloads/luukko-pyeemd-f47f61503e5d"}
h5py = "*"
tqdm = "*"
scikit-image = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
